
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular;
}

* {
  font-family: PingFangSC-Regular;
}

body {
  padding: calc(constant(safe-area-inset-top) - 1.25rem) calc(constant(safe-area-inset-right) - 1.25rem) calc(constant(safe-area-inset-bottom) - 1.25rem) calc(constant(safe-area-inset-left) - 1.25rem);
  padding: calc(env(safe-area-inset-top) - 1.25rem) calc(env(safe-area-inset-right) - 1.25rem) calc(env(safe-area-inset-bottom) - 1.25rem) calc(env(safe-area-inset-left) - 1.25rem);
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  line-height: 1rem;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

